<div
  class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Aplicacion de paises</h1>
      <p class="mb-5">
        Esta aplicacion te permite ver la informacion de los paises, como su
        nombre, capital, poblacion, area, etc. Puedes buscar por nombre o por
        region. Ademas puedes ver la bandera del pais y su mapa.
      </p>
      <button [routerLink]="['/country']" routerLinkActive="router-link-active"  class="btn btn-primary">Empezar</button>
    </div>
  </div>
</div>